<div id="wrapper">
    <div class="container-fluid loginContainer">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-wrapper text-center">
                    <div class="text-center ">
                        <img src="./../../assets/mv.jpg" alt="Moritz Vogt" id="mv_img_login"
                             matTooltip="This is an Angular App build to understand Observable´s with Angular, also the backend for this Application is build with NodeJs also for practice porpuse"
                             matTooltipPosistion="above">
                    </div>
                    <mat-tab-group class="mat-tab-login-signin">
                        <mat-tab label="SignIn" class="mat-tab-label">
                            <form class="form-inline my-2 my-lg-0 form-margin" [formGroup]="formControl" #form="ngForm"
                                  (ngSubmit)="createUser()">
                                <input formControlName="email" class="form-control mr-sm-2" placeholder="Email"
                                       type="text" aria-label="Create new Todo" required autofocus>
                                <input formControlName="password" class="form-control mr-sm-2app"
                                       placeholder="Password" type="password" aria-label="Create new Todo" required>
                                <div class="position-center">
                                    <button class="btn btn-primary" type="submit"
                                            [disabled]="form.invalid">SignIn
                                    </button>
                                </div>
                            </form>
                        </mat-tab>
                        <mat-tab label="LogIn" class="mat-tab-label">
                            <form class="form-inline my-2 my-lg-0 form-margin" [formGroup]="formControl" #form="ngForm"
                                  (ngSubmit)="loginUser()">
                                <input formControlName="email" class="form-control mr-sm-2" placeholder="Email"
                                       type="text" aria-label="Create new Todo">
                                <input formControlName="password" class="form-control mr-sm-2" placeholder="Password"
                                       type="password" aria-label="Create new Todo">
                                <div class="position-center">
                                    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container flexbox">
        <div>
            <span class="text-muted">&copy; 2018 Moritz Vogt</span>
        </div>

    </div>
</footer>
