<!-- HEADER -->
<nav class="navbar navbar-dark bg-success sticky-top">
  <form class="form-inline my-2 my-lg-0 create-todo-form" [formGroup]="formControl" #form="ngForm" (ngSubmit)="createTodo();formControl.reset()">
        <input formControlName="text" class="form-control mr-sm-2" placeholder="Create new Todo" type="text" aria-label="Create new Todo" autofocus>
        <!--<button class="btn btn-create" type="submit">-->
          <!--<i class="material-icons">create</i>-->
        <!--</button>-->
  </form>
    <button class="btn btn-danger pull-right" (click)="logoutUser()">Logout</button>
</nav>
