<!-- HEADER -->
<nav class="navbar navbar-dark bg-success">
  <form class="form-inline my-2 my-lg-0" [formGroup]="formControl" #form="ngForm">
    <input formControlName="text" class="form-control mr-sm-2" placeholder="Create new Todo" type="text" aria-label="Create new Todo" autofocus>
    <button class="btn my-2 my-sm-0 " (click)="createTodo();formControl.reset()">
      <i class="material-icons">create</i>
    </button>
  </form>
    <button class="btn btn-danger pull-right" (click)="logoutUser()">Logout</button>

</nav>
