<app-todo-header></app-todo-header>
<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<div *ngFor="let todo of $todo.todos$ | async">-->
        <!--{{ todo.text }}-->
        <!--<button (click)="deleteTodo( todo )">X</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-selection-list>
                <mat-list-option *ngFor="let todo of $todo.todos$ | async">
                    {{todo.text}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
