:host {

  * {
    font-size: 18px;
    overflow: hidden;
  }
--checkBoxBorderColor: grey;

  .todoBox {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    }

  padding-top-small {
    padding-top: 20px;
  }


  .btn-delete-todo {

    border: 0;
    cursor: pointer;
    background-color: white;
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: var(--checkBoxBorderColor);
  }

  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #28A745 !important;
  }

  .container-full-height {
    min-height: 100vh;
    height: auto;
    background-color: rgba(130,130,130,0.07);

  }
  #todo-text {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

  }

  #todo-text-completed {
    text-decoration: line-through !important;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  .todo-text-container {
    flex-basis: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  #wrapper-todo {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px silver;
  }

  .mat-checkbox {
    padding-top: 15px;
    flex-basis: 50px;
  }
  #icon {
    cursor: pointer;
    flex-basis: 50px;
    font-size: 27px;
    padding-top: 5px;
  }

  .input-todo {
    border-radius: 10px;
    width: 100%;
  }

  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;

      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
  }




  @media only screen and (max-width: 400px) {
    .todoBox {
      width: 100%;
    }
  }
}
